<a href="https://colab.research.google.com/github/Nobin2362/Python_Id-No-191-15-2362/blob/master/Control_structure_week_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



**IF statement**

In [ ]:
grade=40
if grade>=40:
  print("passed")

passed

**If else statement**

In [1]:
grade=40
if grade>=40:
  print("passed")
else:
  print("fail")

fail

**Conditional expression**

In [4]:

result=('Passed' if grade >= 40 else 'Failed')

In [3]:

print(result)

Passed

**IF...elif....else statement**

In [5]:
grade = 77

if grade >= 80:
    print('A')
elif grade >= 70:
    print('B')
elif grade >= 60:
    print('C')
elif grade >= 50:
    print('D')
else:
    print('F')

B

**While Statement**

In [8]:
number=5

while (number<18):
  print(number, end=" ")
  number+=1

5 6 7 8 9 10 11 12 13 14 15 16 17

**while statement to find the first power of 3 larger than 50:**

In [10]:
product=3

while product<=50:
  product = product*3

In [11]:
print(product)

81

**For statement**

In [13]:
for character in "NOBIN":
  print(character, end=" ")

N O B I N

Built in Range Function

Let’s use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 13

In [14]:
for counter in range(13):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.

In [15]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as i

In [18]:

for number in range(598,610):
  print(number, end=" ")

598 599 600 601 602 603 604 605 606 607 608 609

Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:

In [20]:
for number in range(0,15,3):
  print(number, end=" ")

0 3 6 9 12

If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:

In [22]:
for number in range(18,0,-3):
  print(number, end=" ")

18 15 12 9 6 3

Number table print using range function

Take an input from user and print the number table

In [30]:
number =  int(input())

12

In [31]:
for i in range(1,8):
  print(number,"X",i,"=",number*i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84

Nested For Loop

In [32]:
for left in range(12):
    for right in range(left,12):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6] [0|7] [0|8] [0|9] [0|10] [0|11]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [1|7] [1|8] [1|9] [1|10] [1|11]
[2|2] [2|3] [2|4] [2|5] [2|6] [2|7] [2|8] [2|9] [2|10] [2|11]
[3|3] [3|4] [3|5] [3|6] [3|7] [3|8] [3|9] [3|10] [3|11]
[4|4] [4|5] [4|6] [4|7] [4|8] [4|9] [4|10] [4|11]
[5|5] [5|6] [5|7] [5|8] [5|9] [5|10] [5|11]
[6|6] [6|7] [6|8] [6|9] [6|10] [6|11]
[7|7] [7|8] [7|9] [7|10] [7|11]
[8|8] [8|9] [8|10] [8|11]
[9|9] [9|10] [9|11]
[10|10] [10|11]
[11|11]

Break statement

In [34]:
for number in range(100):
  if  number==29:
    break
  print(number, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28

Continue statement

In [35]:
fnumber==5:
    contor number in range(10):
  if  inue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9

**Extremely Basic URI**

In [36]:
A = int(input())
B = int(input())
x = A + B
print("X = %i"% x)

1
3
X = 4

**Area of a Circle URI**

In [37]:
r = float(input())
pi = 3.14159
a = pi * (pow(r,2))
print("A=%.4f"% a)

34
A=3631.6780

**Difference URI**

In [39]:
A = int(input());
B = int(input());
C = int(input());
D = int(input());
DIFERENCA = (A*B - C*D);
print("DIFERENCA = %d"%DIFERENCA);

33
22
21
3
DIFERENCA = 663

**Age in Days**

In [42]:
A = int(input())
B = int(A/365)
C = int(A%365)
D = int(A/30)
E = A%30
print("%d ano(s)"%B)
print("%d mes(es)"%D)
print("%d dia(s)"%E)

12
0 ano(s)
0 mes(es)
12 dia(s)