<a href="https://colab.research.google.com/github/Nobin2362/Python_Id-No-191-15-2362/blob/master/Introduction_to_python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**My Python First Program**

In [68]:
print("Hello,I am Nobin")

Hello,I am Nobin

**Variables and Assignment Statements**

In [69]:
A=5
B=4
print(A+B)

9

In [70]:

Total = A+B
print(Total)

9

In [71]:
name1="Rasel Hider"
name2="Nobin"
print(name1,name2)

Rasel Hider Nobin

**Types**

In [72]:
A=110
type(A)

int

In [73]:
type(108.58)

float

In [74]:
type(name1)

str

**Arithmetic operators**

In [76]:
multiplication=448*55
print(multiplication)

24640

In [77]:
add=666+55
print(add)

721

In [78]:
sub=330-33
print(sub)

297

In [79]:
exponentiation=3**5
print(exponentiation)

243

In [80]:
True_Division=5/2
print(True_Division)

2.5

In [1]:
Floor_Division=8//3
print(Floor_Division)

2

In [2]:
remainder=95%7
print(remainder)

4

**Relational Operators**

In [3]:
A=22
B=33

In [4]:
A>B

False

In [ ]:
A<B

In [5]:
A==B

False

In [ ]:
A!=B

In [ ]:
A>=B

In [ ]:
A<=B

Chaining Comparisons

In [ ]:
A=7
B=9

In [11]:
3<= A <=9

False

In [10]:
10<= B <=11

False



**Print Function**


Printing a Comma-Separated List of Items

In [12]:
print('Hello', 'I','am', 'Nobin')

Hello I am Nobin

Printing Many Lines of Text with One Statement

In [16]:
print('Hey\nI\nAm\nNobin\n')

Hey
I
Am
Nobin

Ignoring a Line Break in a Long String

In [22]:
print('I am Nobin,\
 I am form Tangail')

I am Nobin, I am form Tangail


Printing the Value of an Expression

In [23]:
print('Sum is',11+33)

Sum is 44

**print('int(3.2)', 'truncates 3.2 to', int(3.2))**

In [24]:

print('int(2.2)', 'truncates 2.2 to', int(2.2))

int(2.2) truncates 2.2 to 2

Including Quotes in Strings

In [25]:

print('Display "Nobin" in quotes')

Display "Nobin" in quotes

In [27]:
print('Display \'Nobin\' in quotes')

Display 'Nobin' in quotes

In [30]:
print("Display the name 'Rasel Nobin'")

Display the name 'Rasel Nobin'

In [32]:
print("Display \"Hello\" in quotes")

Display "Hello" in quotes


To avoid using \' and \" inside strings, you can enclose such strings in triple quotes

In [33]:
print("""Display "Hello" and 'Bye' in quotes""")

Display "Hello" and 'bye' in quotes

Multiline Strings

In [35]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [37]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [36]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [38]:
print(This is a lengthy
multiline string containing
a few lines of text)

hello hello of text

Precision Handling in Python

In [ ]:
A=2.000000000000

In [44]:
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.3f' %A)

The value of number till 2 decimal place(using %) is : 22.000

In [42]:
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.6f' %A)

The value of number till 2 decimal place(using %) is : 22.000000

**Getting Input from the User**

The built-in input function requests and obtains user input

In [46]:

Name = input("What's your name? ")

What's your name? Nobin

In [47]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')

Enter first number: 22
Enter second number: 22

In [50]:
total=(value1+value2)
print(total)

2222

In [51]:
type(total) #python takes input as a string we have to type cast the input

str

In [53]:
total = int(value1) + int(value2)
print(total)

44

Getting an Integer from the User by casting the input format

In [54]:
another_value = int(input('Enter another integer: '))

Enter another integer: 33

In [55]:
print(another_value)

33

Taking multiple input from the user

In [57]:
A,B=input().split()

20 40

In [58]:
print(A,B)

20 40

In [59]:
print(type(A))

<class 'str'>

**Solving Problem**

Determining the Minimum and Maximum with Built-In Functions min and max

In [60]:
Number1 = int(input('Enter first integer: '))
Number2 = int(input('Enter second integer: '))
Number3 = int(input('Enter third integer: '))

Enter first integer: 100
Enter second integer: 33
Enter third integer: 45

In [61]:
min(Number1,Number2,Number3)

33

In [63]:
max(Number1,Number2,Number3)

100

***Exercises***

In [64]:
x = 2
y = 3

In [65]:
print('x =', x)

x = 2

In [ ]:
print('Value of', x, '+', x, 'is', (x + x))

In [67]:
print('x =')

x =

In [66]:
print((x + y), '=', (y + x))

5 = 5